<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Zenon Games</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- Icon -->
  <link rel="icon" type="image/png" href="assets/images/icon.png">
  <!-- Google Fonts -->

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css" />

  <!-- FontAwesome -->
  <link rel="stylesheet" type="text/css" href="assets/bower_components/font-awesome/css/font-awesome.min.css" />

  <!-- Owl Carousel -->
  <link rel="stylesheet" type="text/css" href="assets/bower_components/owl.carousel/dist/assets/owl.carousel.min.css" />

  <!-- Magnific Popup -->
  <link rel="stylesheet" type="text/css" href="assets/bower_components/magnific-popup/dist/magnific-popup.css" />

  <!-- Revolution Slider -->
  <link rel="stylesheet" type="text/css" href="assets/plugins/slider-revolution/examples%26source/rs-plugin/css/settings.css" />

  <!-- Bootstrap Sweetalert -->
  <link rel="stylesheet" type="text/css" href="assets/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" />

  <!-- Social Likes -->
  <link rel="stylesheet" type="text/css" href="assets/bower_components/social-likes/dist/social-likes_flat.css" />
  <!-- Youplay -->

  <link rel="stylesheet" type="text/css" href="assets/youplay/css/youplay.min.css" />

  <!-- Custom Styles -->
  <link rel="stylesheet" type="text/css" href="sources/css/custom.css" />
  <!-- RTL (uncomment this to enable RTL support) -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/youplay/css/youplay-rtl.css" /> -->

  <!-- Google Maps API -->
  <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>


<body>

  <!-- Preloader -->
  <div class="page-preloader preloader-wrapp">
      <img src="sources/img/ZenonGames.png" alt="">
      <div class="preloader"></div>
    </div>
    <!-- /Preloader -->
  
    <!-- Navbar -->
    <nav class="navbar-youplay navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="off-canvas" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a class="navbar-brand" href="/">
            <img src="sources/img/ZG.png" alt="">
          </a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="">
              <a href="/" role="button" aria-expanded="false">Home</a>
            </li>
            <li class="">
              <a href="/inspire" role="button" aria-expanded="false">Inspire<span class="label">the game</span></a>
            </li>
            <li class="">
              <a href="/news" role="button" aria-expanded="false">Dev Blog<span class="label">recent news</span></a>
            </li>
            <li class="">
              <a href="about.html" role="button" aria-expanded="false">About<span class="label">the team</span></a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <button type="button" class="btn button-navbar" data-toggle="modal" data-target="#login">Login</button>
                  <button type="button" class="btn button-navbar" data-toggle="modal" data-target="#register">Register</button>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- /Navbar -->