<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Zenon Games</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- Icon -->
  <link rel="icon" type="image/png" href="sources/img/logo.png">

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css" />

  <!-- FontAwesome -->
  <link rel="stylesheet" type="text/css" href="assets/bower_components/font-awesome/css/font-awesome.min.css" />

  <!-- Owl Carousel -->
  <link rel="stylesheet" type="text/css" href="assets/bower_components/owl.carousel/dist/assets/owl.carousel.min.css" />

  <!-- Magnific Popup -->
  <link rel="stylesheet" type="text/css" href="assets/bower_components/magnific-popup/dist/magnific-popup.css" />

  <!-- Revolution Slider -->
  <link rel="stylesheet" type="text/css" href="assets/plugins/slider-revolution/examples%26source/rs-plugin/css/settings.css" />

  <!-- Bootstrap Sweetalert -->
  <link rel="stylesheet" type="text/css" href="assets/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" />

  <!-- Social Likes -->
  <link rel="stylesheet" type="text/css" href="assets/bower_components/social-likes/dist/social-likes_flat.css" />
  <!-- Youplay -->

  <link rel="stylesheet" type="text/css" href="assets/youplay/css/youplay.min.css" />

  <link rel="icon" href="http://example.com/favicon.png">

  <!-- Custom Styles -->
  <link rel="stylesheet" type="text/css" href="sources/css/custom.css" />
  <!-- RTL (uncomment this to enable RTL support) -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/youplay/css/youplay-rtl.css" /> -->
  <!-- Google Maps API -->
  <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>


<body>

  <!-- Preloader -->
  <div class="page-preloader preloader-wrapp">
      <img src="sources/img/ZenonGames.png" alt="">
      <div class="preloader"></div>
    </div>
    <!-- /Preloader -->
  
    <!-- Navbar -->
    <nav class="navbar-youplay navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="off-canvas" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a class="navbar-brand" href="/">
            <img src="sources/img/ZG.png" alt="">
          </a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="">
              <a href="/" role="button" class="navbar-btns" aria-expanded="false">Home</a>
            </li>
            <li class="">
              <a href="/inspire" role="button" class="navbar-btns" aria-expanded="false">Inspire<span class="label">the game</span></a>
            </li>
            <li class="">
              <a href="/news" role="button" class="navbar-btns" aria-expanded="false">Dev Blog<span class="label">recent news</span></a>
            </li>
            <li class="">
              <a href="about.html" role="button" class="navbar-btns" aria-expanded="false">About<span class="label">the team</span></a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <button type="button" class="btn button-navbar btn-primary" data-toggle="modal" data-target="#login">Login</button>
                  <button type="button" class="btn button-navbar btn-primary" data-toggle="modal" data-target="#register">Register</button>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- /Navbar -->

     <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title" id="myModalLabel">LOG IN</h2>
          </div>
          <div class="modal-body">

            <form>
                <div class="youplay-input">
                  <input type="text" name="login" placeholder="Login">
                </div>
                <div class="youplay-input">
                  <input type="password" name="password" placeholder="Password">
                </div>
                <button class="btn btn-success db">Login</button>
            </form>

          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
              <h2 class="modal-title" id="myModalLabel">REGISTER</h2>
            </div>
            <div class="modal-body">
  
              <form id="registerUserForm">
                  <div class="youplay-input">
                    <input type="text" name="login" placeholder="Username">
                  </div>
                  <div class="youplay-input">
                    <input type="password" name="password" placeholder="Password">
                  </div>
                  <div class="youplay-input">
                      <input type="password" name="rpassword" placeholder="Repeat password">
                  </div>
                  <div class="youplay-input">
                      <input type="text" name="country" placeholder="Country">
                  </div>
                  <button class="btn btn-success db" onclick=" return RegisterUser()">Submit</button>
              </form>
  
            </div>
          </div>
        </div>
      </div>