<!-- Header -->
{{> header}}
<!-- Header -->
 
  <!-- Banner -->
    {{> messages}}
    {{> banner}}
  <!-- /Banner -->

    <div class="container youplay-content">
      <h1>WELCOME TO ZENON GAMES</h1>

      <h2>What is Zenon Games?</h2>
      <p>
        Zenon Games is a Multimedia Engeneering students team focused on videogame development. We are in our fourth grade in the University of Alicante. 
        With passion and love, we make our videogames to everyone in order that you enjoy the result of our hard work. 
        <br>
        Want to know everything about us? Then visit our <a href="about.html">team</a> page to get more information! 
      </p>
      <img src="sources/img/ZenonGamesCorporation.jpg" class="image" alt="">
      
      <h2 class="container h1">Our projects</h2>
      <p>We have developed some games during our short career:</p>
        <div class="youplay-features container">
          <div class="col-md-3 col-sm-6 ">
            <a class="feature angled-img" href="#">
              <div class="img">
                <img src="sources/img/wwnf.jpg" alt="">
                <h3>We Will Not Fall</h3>
                <small>PC Game - 2018</small>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-6 ">
              <a class="feature angled-img" href="#">
                <div class="img">
                  <img src="sources/img/Rookiethief.png" alt="">
                  <h3>The Rookie Thief</h3>
                  <small>Amstrad CPC 464 - 2018</small>
                </div>
              </a>
            </div>
          <div class="col-md-3 col-sm-6 ">
              <a class="feature angled-img" href="#">
                <div class="img">
                  <img src="sources/img/Bringrgback.jpg" alt="">
                  <h3>Bring RGBack!</h3>
                  <small>Amstrad CPC 464 - 2018</small>
                </div>
              </a>
            </div>
        </div>
        </div>

  <!-- Banner -->

  <!-- /Banner -->

  <!-- Recent news section-->
  <h2 class="container h1">Latest News</h2>
    <section class="youplay-news container">
      <!-- Single News Block -->
      <div class="news-one">
        <div class="row vertical-gutter">
          <div class="col-md-4">
            <a href="blog-post-1.html" class="angled-img">
              <div class="img">
                <img src="sources/img/ZenonGamesCorporation.jpg" alt="">
              </div>
            </a>
          </div>
          <div class="col-md-8">
            <div class="clearfix">
              <h3 class="h2 pull-left m-0"><a href="blog-post-1.html">Inspire, development update 15/12/2018</a></h3>
              <span class="date pull-right"><i class="fa fa-calendar"></i> 15-12-2018</span>
            </div>
            <div class="description">
              <p>
                  Happy weekend for everyone! It has been a hard work week. We've got some updates about the development of #Inspire. Check them out with this video. Hope you enjoy it
              </p>
            </div>
            <a href="blog-post-1.html" class="btn read-more pull-left">Read More</a>
          </div>
        </div>
      </div>
      <!-- Single News Block -->
      <div class="news-one">
          <div class="row vertical-gutter">
          <div class="col-md-4">
              <a href="blog-post-1.html" class="angled-img">
              <div class="img">
                  <img src="sources/img/ZenonGamesCorporation.jpg" alt="">
              </div>
              </a>
          </div>
          <div class="col-md-8">
              <div class="clearfix">
              <h3 class="h2 pull-left m-0"><a href="blog-post-1.html">Inspire, development update 07/12/2018</a></h3>
              <span class="date pull-right"><i class="fa fa-calendar"></i> 07-12-2018</span>
              </div>
              <div class="description">
              <p>
                      We're excited to finally show you what we've been working on. And the best way to do that, is to show you how the development process is going. Enjoy this video with our main menu song! #Inpire #UAGames #UAGameDev #GameDev #IndieDev #IndieGameDev
              </p>
              </div>
              <a href="blog-post-1.html" class="btn read-more pull-left">Read More</a>
          </div>
          </div>
      </div>

</div>
    </section>
  
  <footer class="youplay-footer-parallax">
    <div class="wrapper">

      <!-- Social Buttons -->
      <div class="social">
        <div class="container">
          <h3>Stay tuned to<strong> Zenon Games </strong>social media!</h3>

          <div class="social-icons">
            <div class="social-icon">
              <a href="#!">
                <i class="fa fa-twitter-square"></i>
                <span>Follow on Twitter</span>
              </a>
            </div>
            <div class="social-icon">
              <a href="#!">
                <i class="fa fa-instagram"></i>
                <span>Follow on Instagram</span>
              </a>
            </div>
            <div class="social-icon">
              <a href="#!">
                <i class="fa fa-youtube-square"></i>
                <span>Watch on Youtube</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- /Social Buttons -->

    </div>
  </footer>
  <!-- /Footer -->

</section>
<!-- /Main Content -->

  <!-- jQuery -->
  <script type="text/javascript" src="assets/bower_components/jquery/dist/jquery.min.js"></script>

  <!-- Hexagon Progress -->
  <script type="text/javascript" src="assets/bower_components/HexagonProgress/jquery.hexagonprogress.min.js"></script>


  <!-- Bootstrap -->
  <script type="text/javascript" src="assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- Jarallax -->
  <script type="text/javascript" src="assets/bower_components/jarallax/dist/jarallax.min.js"></script>

  <!-- Smooth Scroll -->
  <script type="text/javascript" src="assets/bower_components/smoothscroll-for-websites/SmoothScroll.js"></script>

  <!-- Owl Carousel -->
  <script type="text/javascript" src="assets/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>

  <!-- Countdown -->
  <script type="text/javascript" src="assets/bower_components/jquery.countdown/dist/jquery.countdown.min.js"></script>
  <!-- Youplay -->
  <script type="text/javascript" src="assets/youplay/js/youplay.min.js"></script>

  <script src="scripts/pcwLibrary.js"></script>
  <script src="scripts/userRequester.js"></script>

  <!-- init youplay -->
  <script>
    if(typeof youplay !== 'undefined') {
        youplay.init({
            // enable parallax
            parallax:         true,
    
            // set small navbar on load
            navbarSmall:      false,
    
            // enable fade effect between pages
            fadeBetweenPages: true,
    
            // twitter and instagram php paths
            php: {
                twitter: './php/twitter/tweet.php',
                instagram: './php/instagram/instagram.php'
            }
        });
    }
  </script>


  <script type="text/javascript">
    $(".countdown").each(function() {
        $(this).countdown($(this).attr('data-end'), function(event) {
          $(this).text(
            event.strftime('%D days %H:%M:%S')
          );
        });
    })
  </script>

</body>


<!-- Mirrored from html.nkdev.info/youplay/dark/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 26 May 2016 12:44:12 GMT -->
</html>
