{{> header}}
<!-- Main Content -->

    <!-- Banner -->
    <div class="youplay-banner banner-top custombannerwhite banner-top big">
    <div class="image" style="background-image: url('sources/img/fondito.png')">
      </div>
    </div>
    <!-- /Banner -->

    
    <div class="container youplay-content">
      <br>
      <h1 class="mt-0">INSPIRE</h1>
      <h2 class="subtitle"><em>A drone racing game</em></h2>
      <p>
        <b>Inspire</b> is a drone racing action game about some kids in the 80's that challenge themselves to decide
        who will be the crew leader for each week. 
        The main objective is simple: win the race. In order to achieve this purpose, the player has to demonstarte
        his skill and management abilities. It won't be easy to beat up this kids...
      </p>
      <h3>What will you do in Inspire</h3>
      <p>
          In Inspire, you will compete in high speed races with your drone.
          <br>
          It may seem easy, but you will have to master the movement and drone controle in order to achieve victory during this
          races. 
          <br>  
          Here you have some useful tips:
          <section class="youplay-news container">
              <!-- Single News Block -->
              <div class="news-one">
                <div class="row vertical-gutter">
                  <div class="col-md-4">
                    <a href="blog-post-1.html" class="angled-img">
                      <div class="img">
                        <img src="sources/img/nitro.jpg" alt="">
                      </div>
                    </a>
                  </div>
                  <div class="col-md-8">
                    <div class="clearfix">
                      <h4 class="h3 pull-left m-0">MANAGE YOUR NITRO AND USE YOUR POWER-UPS</h4>
                    </div>
                    <div class="description">
                      <p>
                        <br>
                          The nitro charge is essential in order to take advantage into your oponents to win the race. The line between victory and defeat resides in netro management. Use it wisely!
                          <br>
                          When the nitro bar is full you should get ready! It's time to tip the scales with one of the many power ups you will be able to pick when prepairing the race. Strategy is the key!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="news-one">
                  <div class="row vertical-gutter">
                    <div class="col-md-4">
                      <a href="blog-post-1.html" class="angled-img">
                        <div class="img">
                          <img src="sources/img/nitro.jpg" alt="">
                        </div>
                      </a>
                    </div>
                    <div class="col-md-8">
                      <div class="clearfix">
                        <h3 class="h3 pull-left m-0">AVOID OBSTACLES</h3>
                      </div>
                      <div class="description">
                        <p>
                            Obstacle avoidance is the key to have a precise control of the race. If you crash with the floor, a wall or any object that is in the circuit, you will greatly lose control and <b>lose some of your nitro bar</b> 
                            <br>
                            We warned you that precision and skill are required to beat your oponents, so get practicing!
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
            </section>
      </p>
      <h3>Interesting features</h3>
        <h4>PICASSO Physics Engine</h4>
          <p>
            Just some paragraphs talking about PICASSO
          </p>
        <h4>On-line multiplayer</h4>
          <p>
            Zenon Games will offer a dedicated server to create rooms and play with your friends. 
            <br>
            It's still in development, but you can join the community logging in on registering into the website.
            As soon as the game releases, you will be able to access our online multiplayer content so, stay tuned!
          </p>

      <p>

      </p>
    </div>

    <footer class="youplay-footer-parallax">
        <div class="wrapper">
    
          <!-- Social Buttons -->
          <div class="social">
            <div class="container">
              <h3>Stay tuned to<strong> Zenon Games </strong>social media!</h3>
    
              <div class="social-icons">
                <div class="social-icon">
                  <a href="#!">
                    <i class="fa fa-twitter-square"></i>
                    <span>Follow on Twitter</span>
                  </a>
                </div>
                <div class="social-icon">
                  <a href="#!">
                    <i class="fa fa-instagram"></i>
                    <span>Follow on Instagram</span>
                  </a>
                </div>
                <div class="social-icon">
                  <a href="#!">
                    <i class="fa fa-youtube-square"></i>
                    <span>Watch on Youtube</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- /Social Buttons -->
    
        </div>
      </footer>
      <!-- /Footer -->
    <!-- /Footer -->

  <!-- /Main Content -->

  <!-- Search Block -->
  <div class="search-block">
    <a href="#!" class="search-toggle glyphicon glyphicon-remove"></a>
    <form action="http://html.nkdev.info/youplay/dark/search.html">
      <div class="youplay-input">
        <input type="text" name="search" placeholder="Search...">
      </div>
    </form>
  </div>
  <!-- /Search Block -->

  <!-- jQuery -->
  <script type="text/javascript" src="../assets/bower_components/jquery/dist/jquery.min.js"></script>

  <!-- Hexagon Progress -->
  <script type="text/javascript" src="../assets/bower_components/HexagonProgress/jquery.hexagonprogress.min.js"></script>


  <!-- Bootstrap -->
  <script type="text/javascript" src="../assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- Jarallax -->
  <script type="text/javascript" src="../assets/bower_components/jarallax/dist/jarallax.min.js"></script>

  <!-- Smooth Scroll -->
  <script type="text/javascript" src="../assets/bower_components/smoothscroll-for-websites/SmoothScroll.js"></script>

  <!-- Owl Carousel -->
  <script type="text/javascript" src="../assets/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>

  <!-- Countdown -->
  <script type="text/javascript" src="../assets/bower_components/jquery.countdown/dist/jquery.countdown.min.js"></script>

  <!-- Magnific Popup -->
  <script type="text/javascript" src="../assets/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>

  <!-- Revolution Slider -->
  <script type="text/javascript" src="../assets/plugins/slider-revolution/examples%26source/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
  <script type="text/javascript" src="../assets/plugins/slider-revolution/examples%26source/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

  <!-- ImagesLoaded -->
  <script type="text/javascript" src="../assets/bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>

  <!-- Isotope -->
  <script type="text/javascript" src="../assets/bower_components/isotope/dist/isotope.pkgd.min.js"></script>

  <!-- Bootstrap Validator -->
  <script type="text/javascript" src="../assets/bower_components/bootstrap-validator/dist/validator.min.js"></script>

  <!-- Bootstrap Sweetalert -->
  <script type="text/javascript" src="../assets/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>

  <!-- Social Likes -->
  <script type="text/javascript" src="../assets/bower_components/social-likes/dist/social-likes.min.js"></script>
  <!-- Youplay -->
  <script type="text/javascript" src="../assets/youplay/js/youplay.min.js"></script>

  <!-- init youplay -->
  <script>
    if(typeof youplay !== 'undefined') {
        youplay.init({
            // enable parallax
            parallax:         true,
    
            // set small navbar on load
            navbarSmall:      false,
    
            // enable fade effect between pages
            fadeBetweenPages: true,
    
            // twitter and instagram php paths
            php: {
                twitter: './php/twitter/tweet.php',
                instagram: './php/instagram/instagram.php'
            }
        });
    }
  </script>


</body>


<!-- Mirrored from html.nkdev.info/youplay/dark/blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 26 May 2016 12:57:56 GMT -->
</html>