    {{> header}}
    <!-- Banner -->
    <div class="youplay-banner custombannerwhite banner-top big">
            <div class="image" style="background-image: url('sources/img/bigbanner.jpg')">
            </div>
      
            </div>
          <!-- /Banner -->
      <div class="container youplay-news">

            <!-- News List -->
            <div class="col-md-9">
      
            <!-- Single News Block -->
            <div class="news-one">
                    <div class="row vertical-gutter">
                    <div class="col-md-4">
                        <a href="blog-post-1.html" class="angled-img">
                        <div class="img">
                            <img src="sources/img/ZenonGamesCorporation.jpg" alt="">
                        </div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="clearfix">
                        <h3 class="h2 pull-left m-0"><a href="blog-post-1.html">Inspire, development update 15/12/2018</a></h3>
                        <span class="date pull-right"><i class="fa fa-calendar"></i> 15-12-2018</span>
                        </div>
                        <div class="description">
                        <p>
                            Happy weekend for everyone! It has been a hard work week. We've got some updates about the development of #Inspire. Check them out with this video. Hope you enjoy it
                        </p>
                        </div>
                        <a href="blog-post-1.html" class="btn read-more pull-left">Read More</a>
                    </div>
                    </div>
                </div>
            
               <!-- Single News Block -->
                <div class="news-one">
                        <div class="row vertical-gutter">
                        <div class="col-md-4">
                            <a href="blog-post-1.html" class="angled-img">
                            <div class="img">
                                <img src="sources/img/ZenonGamesCorporation.jpg" alt="">
                            </div>
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="clearfix">
                            <h3 class="h2 pull-left m-0"><a href="blog-post-1.html">Inspire, development update 07/12/2018</a></h3>
                            <span class="date pull-right"><i class="fa fa-calendar"></i> 07-12-2018</span>
                            </div>
                            <div class="description">
                            <p>
                                    We're excited to finally show you what we've been working on. And the best way to do that, is to show you how the development process is going. Enjoy this video with our main menu song! #Inpire #UAGames #UAGameDev #GameDev #IndieDev #IndieGameDev
                            </p>
                            </div>
                            <a href="blog-post-1.html" class="btn read-more pull-left">Read More</a>
                        </div>
                        </div>
                    </div>

            </div>
            <!-- /News List -->
      
            <!-- Right Side -->
            <div class="col-md-3 properties12">
      
              <!-- Side Popular News -->
              <div class="side-block">
                <h4 class="block-title">Recent News</h4>
                <div class="block-content p-0">
                  <!-- Single News Block -->
                  <div class="row youplay-side-news">
                    <div class="col-xs-3 col-md-4">
                      <a href="blog-post-1.html" class="angled-img">
                        <div class="img">
                          <img src="sources/img/ZenonGamesCorporation.jpg" alt="">
                        </div>
                      </a>
                    </div>
                    <div class="col-xs-9 col-md-8">
                      <h4 class="ellipsis"><a href="blog-post-1.html" title="Bloodborne - First Try!">Inspire, development update 07/12/2018</a></h4>
                      <span class="date"><i class="fa fa-calendar"></i> 15-12-2018</span>
                    </div>
                  </div>
                  <!-- /Single News Block -->
      
                  <!-- Single News Block -->
                  <div class="row youplay-side-news">
                    <div class="col-xs-3 col-md-4">
                      <a href="#!" class="angled-img">
                        <div class="img">
                          <img src="sources/img/ZenonGamesCorporation.jpg" alt="">
                        </div>
                      </a>
                    </div>
                    <div class="col-xs-9 col-md-8">
                      <h4 class="ellipsis"><a href="#!" title="Whats New in Middle-earth">Inspire, development update 07/12/2018</a></h4>
                      <span class="date"><i class="fa fa-calendar"></i> 07-12-2018</span>
                    </div>
                  </div>
                  <!-- /Single News Block -->
                </div>
              </div>
              <!-- /Side Popular News -->
      
              <!-- Our Twitter -->
              <div class="side-block">
                <h4 class="block-title">Our Twitter</h4>
                <div class="block-content">
                  <div class="youplay-twitter" data-twitter-user-name="nkdevv" data-twitter-count="3" data-twitter-hide-replies="false"></div>
                </div>
              </div>
              <!-- /Our Twitter -->
      
            </div>
            <!-- /Right Side -->
      
          </div>
  
  <footer class="youplay-footer-parallax">
    <div class="wrapper">

      <!-- Social Buttons -->
      <div class="social">
        <div class="container">
          <h3>Stay tuned to<strong> Zenon Games </strong>social media!</h3>

          <div class="social-icons">
            <div class="social-icon">
              <a href="#!">
                <i class="fa fa-twitter-square"></i>
                <span>Follow on Twitter</span>
              </a>
            </div>
            <div class="social-icon">
              <a href="#!">
                <i class="fa fa-instagram"></i>
                <span>Follow on Instagram</span>
              </a>
            </div>
            <div class="social-icon">
              <a href="#!">
                <i class="fa fa-youtube-square"></i>
                <span>Watch on Youtube</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- /Social Buttons -->

    </div>
  </footer>
  <!-- /Footer -->

</section>
<!-- /Main Content -->

  <!-- jQuery -->
  <script type="text/javascript" src="../assets/bower_components/jquery/dist/jquery.min.js"></script>

  <!-- Hexagon Progress -->
  <script type="text/javascript" src="../assets/bower_components/HexagonProgress/jquery.hexagonprogress.min.js"></script>


  <!-- Bootstrap -->
  <script type="text/javascript" src="../assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- Jarallax -->
  <script type="text/javascript" src="../assets/bower_components/jarallax/dist/jarallax.min.js"></script>

  <!-- Smooth Scroll -->
  <script type="text/javascript" src="../assets/bower_components/smoothscroll-for-websites/SmoothScroll.js"></script>

  <!-- Owl Carousel -->
  <script type="text/javascript" src="../assets/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>

  <!-- Countdown -->
  <script type="text/javascript" src="../assets/bower_components/jquery.countdown/dist/jquery.countdown.min.js"></script>
  <!-- Youplay -->
  <script type="text/javascript" src="../assets/youplay/js/youplay.min.js"></script>

  <!-- init youplay -->
  <script>
    if(typeof youplay !== 'undefined') {
        youplay.init({
            // enable parallax
            parallax:         true,
    
            // set small navbar on load
            navbarSmall:      false,
    
            // enable fade effect between pages
            fadeBetweenPages: true,
    
            // twitter and instagram php paths
            php: {
                twitter: './php/twitter/tweet.php',
                instagram: './php/instagram/instagram.php'
            }
        });
    }
  </script>


  <script type="text/javascript">
    $(".countdown").each(function() {
        $(this).countdown($(this).attr('data-end'), function(event) {
          $(this).text(
            event.strftime('%D days %H:%M:%S')
          );
        });
    })
  </script>

</body>


<!-- Mirrored from html.nkdev.info/youplay/dark/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 26 May 2016 12:44:12 GMT -->
</html>
