/**
 * 
 * Type your custom styles
 *
 */
.navbar-youplay
{
    background: black;
}
.navbar-brand>img
{
    margin-top: 12%;
}

.page-preloader
{
    background: black;
}

.button-navbar
{
    margin-top: 1.2em;
}

.navbar-youplay.navbar-small .button-navbar
{
    margin-top: .5em;
}

.custombannerwhite
{
    background: black;
}

.youplay-banner .image{
    opacity: 1;
    position: relative;
}

.angled-img .img>img{
    opacity: 1;
}

.custombannerblack
{
    background: black;
}

.navbar-youplay.navbar-small
{
    background: black;
}

body
{
    background: #0a0a0a;
}

.modal-content
{
    background: #212121;
}

footer .social{
    background:black;
}

footer .social .social-icons .social-icon>a i:after
{
    background: #737373;
}

.angled-img .img 
{
    background: none;
}

.custom-btn
{
   position: absolute;
   margin: 330px 0;
}
