/**
 * 
 * Type your custom styles
 *
 */
.navbar-youplay
{
    background: black;
}
.navbar-brand>img
{
    margin-top: 12%;
}

.page-preloader
{
    background: black;
}

.button-navbar
{
    margin-top: 1.2em;
}

.navbar-youplay.navbar-small .button-navbar
{
    margin-top: .5em;
}

.custombannerwhite
{
    background: black;
}

.youplay-banner .image{
    opacity: 1;
    position: relative;
}

.angled-img .img>img{
    opacity: 1;
}

.custombannerblack
{
    background: black;
}

.navbar-youplay.navbar-small
{
    background: black;
}

body
{
    background: #0a0a0a;
}

.modal-content
{
    background: #212121;
}

footer .social{
    background:black;
}

footer .social .social-icons .social-icon>a i:after
{
    background: #737373;
}

.angled-img .img 
{
    background: none;
}

.custom-btn
{
   position: absolute;
   margin: 330px 0;
}

.btn-primary.active:before, .btn-primary.focus:before, .btn-primary:active:before, .btn-primary:focus:before, .btn-primary:hover:before, .open>.dropdown-toggle.btn-primary:before{
    background: rgb(234, 177, 0);
    border:2px rgb(234, 177, 0); 
}

.navbar-btns:hover{
    color: rgb(234, 177, 0) !important;
}

.navbar-youplay .navbar-nav>li>a:hover>.label
{
    color: #b48909;
}

.navbar-youplay .navbar-nav>li>a {
    text-transform: none;
    font-size: 13px;
}

@media (min-width: 1200px){
    .youplay-features{
        padding: 0 0px 0 80px !important;
    }

    .photosProjects
    {
        height: 170px;
    }

    .col-md-3
    {
        width: 30%;
    }
}